{  
    "port": 8800,
    "repositories": [  
        {  
            "url": "https://github.com/trojsten/web",

            "refs": "if undefined, command will be called after push to any branch",
            "refs": ["refs/heads/master"],

            "command": "echo it works"
        }
    ]
}
