{  
    "port": 8800,
    "repositories": [  
        {  
            "url": "https://github.com/trojsten/web",

            "ref": "if undefined, command will be called after push to any branch",
            "ref": "refs/heads/master",

            "command": "echo it works"
        }
    ]
}
